<div class="container">
    <div class="card w-50">
        <div class="card-content p-3">
         <app-form-header title="Reset Password"></app-form-header>
         <form [formGroup]="ResetPasswordFormGroup">
            <div class="row">
       
                <div class="col-12 mt-2">
                    <label class="mb-2 label" id="NewPassword">New Password</label>
                    <ejs-textbox cssClass="e-outline" type="password" formControlName="password" autocomplete="off"></ejs-textbox>
                    <app-common-error-display  *ngIf="formSubmitted"
                    [error]="ResetPasswordFormGroup.get('password')"></app-common-error-display>
                </div>
           </div>
          <div class="row">
            <div class="col-12 mt-2">
                <label class="mb-2 label" id="ConfirmPassword" >Confirm Password</label>
                <ejs-textbox cssClass="e-outline" type="password" #ConfirmPassword ></ejs-textbox>
                <div class="error" *ngIf="ConfrmpasswordError">
                    password Confirmation error**
              </div>
                <app-common-error-display  *ngIf="formSubmitted"
                [error]="ResetPasswordFormGroup.get('password')"></app-common-error-display>
            </div>
    </div>
      <app-form-buttons
      (submit)="onSubmit(ConfirmPassword.value)"
      (click)="onCancel()"
      ></app-form-buttons>
    </form>
     </div>
     </div>
    </div>
