<div class="container">
    <div class="card w-50">
        <div class="card-content p-3">
         <app-form-header title="Passsword Recovery"></app-form-header>
         <form [formGroup]="passwordRecoveryFormGroup">
            <div class="row">
       
                <div class="col-12 mt-2">
                    <label class="mb-2 label" id="Email">Email</label>
                    <ejs-textbox cssClass="e-outline"  formControlName="Email"></ejs-textbox>
                    <app-common-error-display  *ngIf="formSubmitted"
                    [error]="passwordRecoveryFormGroup.get('Email')"></app-common-error-display>
                </div>
        </div>
      <app-form-buttons
      (submit)="onSubmit()"
      (cancel)="onCancel()"
      ></app-form-buttons>
    </form>
     </div>
     </div>
    </div>
