<div [ngClass]="!isModal ? 'card mt-4' : null">
  <div class="card-content p-3">
    <app-form-header title="General"></app-form-header>
    <form [formGroup]="AccidentForm">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <label class="mb-2 mt-2 label">Date</label>
          <ejs-datepicker
            cssClass="e-outline"
            id="date"
            formControlName="date"
          ></ejs-datepicker>
          <app-common-error-display
            *ngIf="formSubmitted"
            [error]="AccidentForm.get('date')"
          >
          </app-common-error-display>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
          <label class="mb-2 label">Accident Type</label>
          <ejs-dropdownlist
            cssClass="e-outline"
            id="accidentType"
            [dataSource]="this.crudService.dropDownData['accidentType']"
            [fields]="lookupField"
            formControlName="accidentType"
            cssClass="e-outline"
          ></ejs-dropdownlist>
          <app-common-error-display
            *ngIf="formSubmitted"
            [error]="AccidentForm.get('accidentType')"
          >
          </app-common-error-display>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
          <label class="mb-2 label" id="vegion">Reported By</label>
          <ejs-dropdownlist
            cssClass="e-outline"
            formControlName="reportedBy"
            [fields]="Regionfields"
            id="reportedBy"
            formControlName="reportedBy"
          ></ejs-dropdownlist>
          <app-common-error-display
            *ngIf="formSubmitted"
            [error]="AccidentForm.get('reportedBy')"
          >
          </app-common-error-display>
        </div>
        <app-form-header title="Address"></app-form-header>
        <div class="col-12 col-md-6 col-lg-4 mt-2">
          <label class="mb-2 label" id="vollume">Volume</label>
          <ejs-textbox
            cssClass="e-outline"
            formControlName="vollume"
          ></ejs-textbox>
          <app-common-error-display
            *ngIf="formSubmitted"
            [error]="AccidentForm.get('vollume')"
          >
          </app-common-error-display>
        </div>
      </div>
      <app-form-buttons
        [isModal]="isModal ? true : false"
        (submit)="onSubmit()"
        (cancel)="onCancel()"
      ></app-form-buttons>
    </form>
  </div>
</div>
